<div class="bg_page" style="padding-top:10%;padding-bottom:100%;">

<img src="logo.png" class="ui image" style="width:60%;margin:0 auto;">
<h2 style="text-align:center;color:gray;margin-top:-10px">一首属于你的民谣</h2>
<%= render 'form', picture: @picture %>

</div>
