<!DOCTYPE html>
<html>
  <head>
    <title>飞鸟——一首属于你的民谣</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link href="//cdn.bootcss.com/semantic-ui/2.2.9/semantic.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//cdn.bootcss.com/semantic-ui/2.2.9/semantic.min.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
